<template>
    <nav class="menu">
        <nuxt-link v-for="link in nav" :key="link.title" :to="link.path">{{ link.title }}</nuxt-link>
    </nav>
</template>

<script>
export default {
    data: () => ({
        nav:[
            { title: 'Home', path: '/' },
            { title: 'Educação', path: '/educacao' },
            { title: 'Projetos', path: '/projetos' },
            { title: 'Experiências', path: '/experiencias' },
            { title: 'Habilidades', path: '/habilidades' },
            { title: 'Contato', path: '/contato' },
        ]
    })
}
</script>

<style lang="scss">
.menu{
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 20px auto 0;
    a{
        text-decoration: none;
        color: #4a4a4a;
    }
}
</style>


